.slider-container{
    margin-top:150px;
    height:90vh;
}
.beneath-project-description
{
    display:flex;
    margin:20px;
    
    border-radius: 5px;
    flex-direction: row;
    /* padding:10px; */
    column-gap: 100px;
    align-items:top;
    justify-content:center;

}
.img-div-in-beneath-project-description
{
    max-width:600px;
}
.text-div-in-beneath-project-description
{
    display:flex;
    padding-top:50px;
    flex-direction: column;
    align-items: center;
}