.about-section-container
{
    /* background-color:rgb(11, 193, 11); */
}
.img-Page {
  width: 100%; /* Full width */
  height: 70vh; /* Full height of the viewport */
  margin-top:80px;
  background: url('../../assets/imgs/img3.jpg');
  background-size: cover; /* Ensures the image covers the element without stretching */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  filter: brightness(70%);
}


.about-discription-container
{
  display:flex;
  align-items:center;
  justify-content: center;
}
  
  /* .container-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */
  
  /* .card {
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */
/*   
  .text-center {
    text-align: center;
  } */
/*   
  .my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .bg-transparent {
    background-color: transparent;
  }
   */