.img-page {
    width: 100%; /* 1/5 of the page */
    height: 70vh; /* Full height of the viewport */
    background-image: url('../../assets/seth-doyle-zf9_yiAekJs-unsplash.jpg');
    background-size: cover; /* Ensures the image covers the element without stretching */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    filter: blur(1px);
    filter: brightness(50%);
  }
  .img-page .discription-area
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .donate-button-container
  {
      display:flex;
      margin-top:90px;
      align-items: center;
      justify-content: center;
      gap:10px;
  }
  .vol-home-button,.donation-home-button
  {
    z-index:100;
    background-color: transparent;
    color:white;
    font-weight: 600;
    border:0.8px solid rgb(168, 223, 223);
    border-radius:10px;
  }
  .beneath-home-page
  {
    margin-top:70px;
    display:flex;
    gap:20px;
    align-items:center;
    justify-content: center;

  }
  .beneath-home-page div img
  {
    width:100%;
    overflow: none;
    filter: grayscale(80%);
    border-radius: 10px;
    transition:0.3s;
    height:30vh;
  }
  .beneath-home-page div img:hover
  {
    filter:grayscale(0%);
    transition:0.3s;
    transform: scale(1.04);
  }
  
  