.img-page {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url('../../assets/imgs/img0.jpg');
  /* background-color: rosybrown; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Change the opacity as needed */
}

  .img-page .discription-area
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .donate-button-container
  {
      display:flex;
      margin-top:90px;
      align-items: center;
      justify-content: center;
      gap:10px;
  }
  .discription-area {
    color: white;
    font-size: 1.2rem; /* Increase font size */
    font-weight: bold; /* Make it bolder */
}

  .vol-home-button,.donation-home-button
  {
    z-index:100;
    background-color: transparent;
    color:white;
    font-weight: 700;
    padding:10px;
    transition:0.4s;
    border:1.8px solid rgb(16, 202, 59);
    border-radius:10px;
  }
  .vol-home-button:hover,.donation-home-button:hover{
    background-color: green;
    transition:0.4s;
  }

  .donation-div-with-color-bg
  {
    display:flex;
    align-items:center;
    justify-content: space-around;
    padding:50px;
    margin-bottom:20px;
    transition:0.4s;
  }
  .donation-div-with-color-bg div button:hover{
    transform: scale(1.03);
    transition:0.4s;
  }

  .video-and-text-area
  {
      display:grid;
      grid-template-columns: 1.3fr 1fr;
      margin:10px;
      justify-content: center;
      align-items:center;

  }
  .cards-container
  {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin: 5px 150px;

    box-shadow:0px 2px 1px 1px rgba(0,0,0,0.2);

  }
  

  .grid-container
  {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:50px 150px;
    align-items:center;
    justify-content: center;
    gap:10px;
    box-shadow: 0px 0.5px 0.5px 0.5px rgba(0,0,0,0.2);
    position:relative;
    top:-100px;
    padding:10px;
    z-index:12;
    background-color: white;

  }

  .grid-item
  {
    display:flex;
    padding:10px;
    flex-direction: column;
    box-shadow: 0px 0.5px 0.5px 0.5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    transition:0.3s;

  }
  .grid-item:hover{
    transform:scale(1.02);
    transition:0.3s;
  }
  .image-divs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    column-gap:2px;
    row-gap:8px;
  }
  
  .image-divs img {
    width: 100%;
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the allocated space */
  }
  

  .blogs-on-home-page
  {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin: 5px 250px;
    box-shadow:0px 2px 1px 1px rgba(0,0,0,0.2);

  }
  
  
  