.donate-img-page {
    width: 100%; /* Full width */
    height: 70vh; /* Full height of the viewport */
    margin-top:70px;
    background-image: url('../../assets/bill-wegener-LqOO5Ko0zSo-unsplash.jpg');
    background-size: cover; /* Ensures the image covers the element without stretching */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    filter: brightness(70%);
    filter: blur(2px);
  }
  .donation-title,.sub-title1,.p-beneath-sub-title
  {
    position:relative;
    text-align:end;
    margin-right:30px;
    top:-350px;
    color:#fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    /* right:-120px; */
  }
  .donation-form
  {
   
      display: flex;
      justify-content: center;
      align-items: center;
        margin:100px 50px;
    box-shadow: 0.3px 0.3px 2px 0.6px rgba(0, 0, 0, 0.2);
    /* padding:20px; */
  }
  .dontation-form div{
    font-size:15px;
  }
  .donation-form input{
    box-shadow: 0.3px 0.3px 2px 0.6px rgba(0, 0, 0, 0.2);
  }
  .bank-icon
  {
    transition:0.4s;
    cursor:pointer;
  }

  .bank-icon:hover
  {
    transform:scale(1.03);
    transition:0.4s;
  }
  .banks-img
  {
    width:50%;
    
    border-radius: 25px;
  }
  .selected-bank-class{
    background-color: rgb(212, 222, 231);
  }
  .each-bank-container
  {
    display:flex;
    padding:3px;
    width:200px;
    height: 300px;
    vertical-align: top;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .banks-container{
    display:flex;
    flex-direction: row;
    overflow-x:visible;
    align-items: center;
    justify-content: center;
    gap:10px;
  }

  .terms-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }
  
  .terms-container.show {
    opacity: 1;
    max-height: 500px; /* Adjust based on content */
  }

  