 .nav
 {
    background: yellow;
    position:fixed;
    right:0;
    top:0;
    height:60px;
    left:0;
 }
 .navbar-container{
    display:flex;
    align-items:center;
    gap:5px;
    justify-content: space-around;
    margin:10px 20px;
 }
 .list{
    text-decoration: none;
    margin-top:10px;
    font-size:17px;
    padding:2px;
    list-style: none;
    transition: 0.3s;
}
.list:hover
{
    cursor:pointer;
   transform: scale(1.03);
   color:rgb(115, 110, 110);
    transition: 0.3s;
}
ul{
    display:flex;
    justify-content: space-between;
    gap:20px;
    align-items:center;
}
.right-section
{
    margin-left:10px;
    display:flex;
    gap:30px;
}
