 .nav
 {
    background: yellow;
 }
 .navbar-container{
    display:flex;
    align-items:center;
    gap:5px;
    justify-content: space-around;
    margin:10px 20px;
 }
 ul li{
    text-decoration: none;
    margin-top:10px;
    list-style: none;
    transition: 0.3s;
}
.nav-li:hover
{
    padding:4px;
    cursor:pointer;
    border:0.5px solid black;
    border-radius: 10px;
    transform:scale(1.03);
    transition: 0.3s;
}
ul{
    display:flex;
    justify-content: space-between;
    gap:20px;
    align-items:center;
}
.right-section
{
    margin-left:10px;
    display:flex;
    gap:30px;
}
