.form-container {
    display: flex;
    height: 60vh;
    width:600px;
    gap: 20px;
    border: 0.5px solid white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
  
  .email-input-container,
  .password-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    max-width: 300px;
  }
  
  .input-container:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  
  .input-div,
  .input-div1 {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid rgb(110, 89, 89);
  }
  
  .input-container {
    border: none;
    width: 100%;
  }
  
  .login-button {
    padding: 5px 20px;
    border-radius: 10px;
    transition:0.3s;
    background-color: green;
    color:white;
    border: none;
  }

  .login-button{
    padding: 5px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    background-color: green;
    color: white;
    border: 0.5px solid black;
  }
  .login-button:hover{
    background-color: white;
    color:black;
  }

  .img-svg1
  {
    z-index:-1;
    width:150px;
    position:relative;
    top:290px;
    right:-700px;
  }
  
  .img-svg2
  {
    z-index:-3;
    width:150px;
    position:relative;
    top:450px;
    left:200px;
  }
  .img-svg3
  {
    z-index:-3;
    width:150px;
    position:relative;
    top:20px;
    right:-500px;
  }
  /* @media(max-with:1000px)
  {
    
        .form-container{
            width:500px;
        }
        .img-svg1,.img-svg2,.img-svg3{
            width:100px;
        }
        .img-svg1
      {
        z-index:-1;
        position:relative;
        top:290px;
        width:140px;
        right:-330px;
      }
      
      .img-svg2
      {
        z-index:-3;
        position:relative;
        top:520px;
        left:30px;
      }
      .img-svg3
      {
        z-index:-3;
        position:relative;
        top:100px;
        right:-260px;
      }
  } */
  @media(max-width:768px)
  {
    .form-container{
        width:500px;
    }
    .img-svg1,.img-svg2,.img-svg3{
        width:100px;
    }
    .img-svg1
  {
    z-index:-1;
    position:relative;
    top:240px;
    width:140px;
    right:-290px;
  }
  
  .img-svg2
  {
    z-index:-3;
    position:relative;
    top:540px;
    left:-50px;
  }
  .img-svg3
  {
    z-index:-3;
    position:relative;
    top:70px;
    right:-280px;
  }
  }
  @media(max-width:600px)
  {
    .form-container{
        width:480px;
    }
    .img-svg1,.img-svg2,.img-svg3{
        width:100px;
    }
    .img-svg1
  {
    z-index:-1;
    position:relative;
    top:235px;
    width:120px;
    right:-240px;
  }
  
  .img-svg2
  {
    z-index:-3;
    position:relative;
    top:530px;
    left:-90px;
  }
  .img-svg3
  {
    z-index:-3;
    position:relative;
    top:50px;
    right:-160px;
  }
  }